[data-l11n=th] {
    display: none;
}

:lang(th) > [data-l11n] {
    display: none;
}

:lang(th) > [data-l11n=th] {
    display: inline;
}

[data-l11n=vn] {
    display: none;
}

:lang(vn) > [data-l11n] {
    display: none;
}

:lang(vn) > [data-l11n=vn] {
    display: inline;
}

[data-l11n=id] {
    display: none;
}

:lang(id) > [data-l11n] {
    display: none;
}

:lang(id) > [data-l11n=id] {
    display: inline;
}

.localization {
	margin-top: 10px;
	margin-left: 5px;
}

select.icon-menu option {
background-repeat:no-repeat;
background-position:bottom left;
padding-left: 40px;
margin-bottom: 3px;
margin-top: 3px;
}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label.localize:after {
    content:'<>';
    font:11px "Consoles", monospace;
    color:#000;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label.localize:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}